Python Example

In [2]:
1+1

2

In [3]:
## case sensitive
## python use indentation, 4 spaces  or tab
## Line continous (\)
total = 1+2+3+4+\
6+7
print(total)
## multiple statements on single line
x = 5;y = 10;z = x+y
print(z)
## Dynamic typing, python determine variable type at runtime
print(type(x))

## Naming Convention
  ## Variables names should be descriptive
  ## Start with letters or _


## Type Conversion
age = 10
print(type(str(age)))


#Dynamic Typing
var = 10
print(var, type(var))

23
15
<class 'int'>
<class 'str'>
10 <class 'int'>

In [4]:
## Basic Data Types
 ## 

print(bool(1), type(bool(1)))
print(bool(0), type(bool(1)))
print(bool(5))
print(bool(-5))

True <class 'bool'>
False <class 'bool'>
True
True

In [5]:
## List
lst = []
print(lst)
print(type(lst))

lst = [1,3,4,5,6,7]

print(lst[-1])

print(lst[-1:])

## List method
lst.append(9)

print(lst)

lst.remove(5) ## removes the first occurence

for index, number in enumerate(lst):
    print(index, number)

## lst comphresion
## [result and condition]
## [expression items condition ]
print([x**2 for x in range(10)])

## Nested list comphresion 

##

[]
<class 'list'>
7
[7]
[1, 3, 4, 5, 6, 7, 9]
0 1
1 3
2 4
3 6
4 7
5 9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
## Function is block of code, reusable code and readability

def first_function():
    return "First Function"

print(first_function())

First Function

Formatted String (New)

In [7]:
## Formatted String
name = "Subbu"
board_name = f"{name} Geetha"

print(board_name)

Subbu Geetha

In [9]:
def star_function(*args):
    print(args)

star_function(2,3)

(2, 3)

In [22]:
def double_star_function(**args):
    print(args)

custom_dict={"name":"Krithik","age":6}

print(custom_dict)
##print(**custom_dict)
double_star_function(**custom_dict)

{'name': 'Krithik', 'age': 6}
{'name': 'Krithik', 'age': 6}

In [23]:
def print_both(*args,**dick_args):
    print(dick_args)
    print(args)

print_both(12,34, **custom_dict)

{'name': 'Krithik', 'age': 6}
(12, 34)

Lamda Expression

In [25]:
## lamda arguments: expression

even = lambda val : val%2 ==0

print(even(12))
print(even(13))

True
False

In [28]:
list_of_numbers = [1,2,5]

print([even(item) for item in list_of_numbers])

[False, True, False]

Map

In [8]:
numbers = [1,2,3,4]

## map(function, iteratable)
print(map(lambda x: x*x, numbers))
print(tuple(map(lambda x: x*x, numbers)))


n1 = [1,2,3]
n2 = [2,3,5]

print(list(map(lambda x,y: x+y, n1,n2))) # Sum of n1 + n2

n3 = ["2","3","4"]

print(list(map(lambda x: int(x), n3)))

print(list(map(int, n3)))

words = ["abc","cdf"]

print(list(map(str.upper, words)))

<map object at 0x000001B5A6E02EC0>
(1, 4, 9, 16)
[3, 5, 8]
[2, 3, 4]
[2, 3, 4]
['ABC', 'CDF']

In [14]:
people = [
    {
        'name': 'Subbu'
    },
    {
        'name': 'Geetha'
    }
]

print(list(map(lambda obj: obj['name'], people)))

['Subbu', 'Geetha']